div.product {
    width: 200px;
    float: left;
    padding: 10px;
    margin: 10px;
    background-color: lightgray;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-weight:bold;
    cursor:pointer;
}

    div.product:hover span {
        text-decoration:underline;
    }

    div.product .name {

    }

    div.product .quantity {
        float:right;
        color:green;
        font-style:italic;
    }
