.cashier-body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    padding: 0px;
    margin: 0px;
}

.cashier-top-menu {
    background-color: #F0F0F0;
    border-bottom: 1px solid #C0C0C0;
}

.cashier-top-menu__list {
    display: block;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: auto;
}

.cashier-top-menu__list-item {
    float: left;
}

.cashier-top-menu__list-item-link {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: #333333;
}

.cashier-top-menu__list-item-link:hover {
    background-color: #333333;
    color: white;
}

.cashier-current-page {
    padding: 10px 15px;
}

.cashier-box-button {
    float: left;
    margin-right: 10px;
}

.cashier-box-label {
    float: left;
    width: 70px;
	text-align: left;
}

.cashier-box-heading-label{
    display: block;
}

.cashier-box-control {
    margin-left: 80px;
    width: 300px;
    margin-bottom: 15px;
}

.cashier-box-text {
    margin: 25px 0px;
}

.cashier-table {
    margin-bottom: 23px;
}
